---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
    </div>
    <p class="text-sm font-light">
'23 grad from IIT Kharagpur. What excites me most is consumer internet — the kind of products that quietly shape how we live, work, and interact every day. I’m fascinated by the invisible decisions behind them — how a single UX tweak, pricing choice, or a brand narrative can shift behavior at scale.
<p class="text-sm font-light">For me, it’s less about the tech itself, and more about the leverage it creates when paired with good intuition, strong design, and a sharp understanding of people
    </p>
<p class="text-sm font-light">Trying to live by Steve Jobs' words 'Everything around you that you call life was made up by people that were no smarter than you… and you can change it, you can influence it, you can build your own things that other people can use.'
    </p>
  </div>
</Card>
