---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Now Reading/Listening
      </h1>
    </header>
    <address class="flex flex-col mt-4 space-y-2">
      <p><a href="https://www.google.com/search?q=debt+5000+years&oq=debt+&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgoIARAAGLEDGIAEMgYIAhBFGDkyCggDEAAYsQMYgAQyCggEEAAYsQMYgAQyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQgxMzUyajBqN6gCALACAA&sourceid=chrome&ie=UTF-8" class=underline>Debt: The first 5000 years</a></p>
      <p><a href="https://www.youtube.com/@theasymmetriccrew" class=underline>Asymmetric Podcast</a></p>
      <p><a href="https://the-ken.com/podcasts/first-principles/" class=underline>First Principles</a></p>
      <p><a href="https://www.google.com/search?q=yellowface&sca_esv=dffffd1eb0412f15&sxsrf=AE3TifMYHpBoPfUAH_8ADSZjQRPGVXDNRA%3A1748542495104&ei=H6Q4aL6UBuKQ4-EPyIyI-AU&ved=0ahUKEwj-n66ypMmNAxViyDgGHUgGAl8Q4dUDCBA&uact=5&oq=yellowface&gs_lp=Egxnd3Mtd2l6LXNlcnAiCnllbGxvd2ZhY2UyBBAAGEcyBBAAGEcyBBAAGEcyBBAAGEcyBBAAGEcyBBAAGEcyBBAAGEcyBBAAGEdI0gVQ0AJY0AJwAXgCkAEAmAEAoAEAqgEAuAEDyAEA-AEBmAICoAIRwgIKEAAYsAMY1gQYR8ICDRAAGIAEGLADGEMYigXCAg4QABiwAxjkAhjWBNgBAcICExAuGIAEGLADGEMYyAMYigXYAQGYAwDiAwUSATEgQIgGAZAGCLoGBggBEAEYCZIHATKgBwCyBwC4BwDCBwUyLTEuMcgHDA&sclient=gws-wiz-serp" class=underline>Yellowface</a></p>
      <p><a href="https://www.paulgraham.com/articles.html" class=underline>Paul Graham Essays</a></p>

    </address>
     </div>
</Card>
